<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property resource="application.properties"/>

    <springProfile name="dev">
        <property resource="application-dev.properties"/>
    </springProfile>

    <springProfile name="local">
        <property resource="application-local.properties"/>
    </springProfile>

    <springProfile name="prod">
        <property resource="application-prod.properties"/>
    </springProfile>

    <springProfile name="staging">
        <property resource="application-staging.properties"/>
    </springProfile>

    <springProfile name="test">
        <property resource="application-test.properties"/>
    </springProfile>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss,IST} [%thread] %-5level - [%marker] %logger{36} - %msg%n</pattern>
        </encoder>
        <param name="FileNamePattern" value="${logging.file.path}/${spring.application.name}.log" />
        <file>${logging.file.path}/${spring.application.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.file.path}/${spring.application.name}-%d{yyyy-MM-dd,IST}.log</fileNamePattern>
            <springProfile name="prod">
                <fileNamePattern>${logging.file.path}/${spring.application.name}-%d{yyyy-MM-dd,IST}.gz</fileNamePattern>
            </springProfile>
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${log.level.file}</level>
        </filter>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%black(%d{yyyy-MM-dd HH:mm:ss,IST}) %highlight(%-5level) - %blue(%marker) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${log.level.console}</level>
        </filter>
    </appender>


    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>